body {
    margin: 0;
    margin-top:-16px;
    padding: 0;
    background-color: white;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 70px;
    color: blue;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .header {
    position: relative;
    width: 1440;
    height: 101;
    background-color:#EB6958;
  }
  .buttonhead {
    font-family:'Inter';
    position: relative;
    bottom: 40px;
    background-color: transparent;
    padding: 5px 30px;
    margin-right: 5px;
    text-align: center;
    border-color: white;
    color: white;
    font-size: 16px;
    border-style: solid;
    border-radius: 30px;
  }
  .buttonhead:hover {
    transition-duration: 500ms;
    background-color: rgb(122, 108, 202);
    cursor: pointer;
    
  }
  