.container {
  display: grid;
  grid-row: auto;
  margin-left: 2vh;
  margin-right: 2vh;
  justify-content: space-between;
  border-style: solid;
  border-color: black;
  
}

.container p {
  flex-grow: 1;
  font-size: 20px;
}

@media screen and (max-device-width:1000px){
  .title-image {
    width: 100%;
    margin-left: 0%;
}
}
