body {
  background-color: #FFF8EA;
}


/*search bar element*/
#headphoto {
  position: fixed;
  left: 10vw;
  right: 10vw;
  width: 80vw;
  height: 30vh;
}

.search-bar {
  background-color: white;
  z-index: 3;
  top: 10vw;
  left: 20%;
  padding-left: 3%;
  width: 60%;
  height: 20vh;
  position: relative;
  border-radius: 30px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.30);
  font-size: 2.0vw;
}

#trip-type {
  display: flex;
  flex-direction: column;
}

.select-box {
  font-size: 1.75vh;
  border: none;
  height: 2rem;
  width: 6rem;
  background-color: white;
}

.select-box option {
  background-color: #fff;
  color: #333;
}


.select-box:hover {
  background-color: #a4252522;
}

.select-box:active {
  opacity: 70%;
}


.search-city {
  margin-top: 3vh;
  padding: 1rem;
  border-radius: 1rem;
  width: 20vw;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.75);
  font-size: 1.75vh;
}



.search-city:active {
  opacity: 60%;
}



#search-button {
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.75);
  font-size: 1.75;
  color: white;
  border-radius: 0.5rem;
  width: 6rem;
  padding: 1rem;
  background-color: var(--maincolor);
}

#search-button:hover {
  opacity: 70%;
  border-color: blue;
}

@media screen and (max-device-width:1000px) {
  .title-image {
    width: 100%;
    margin-left: 0%;
  }


}